.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}


@media (min-width: 1440px) {
  .main {
    width: calc(1440px - 72px);
    margin: 0 auto;
  }
}

.subheader {
  user-select: none;
}

.header {
  word-spacing: 3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  user-select: none;
}

.headline {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -4.8px;
  user-select: none;
}

.headlineChar {
  opacity: 0;
  animation: transitionIn 0.15s step-end forwards;
}

@keyframes transitionIn {

  // the text will have an opacity of 0 at the start of the animation
  0% {
    background-color: var(--text);
    opacity: 1;
  }

  // the text will have an opacity of 1 at the end of the animation
  100% {
    opacity: 1;
    background-color: transparent;
  }
}

.underlineHover {
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.15s;
}

.underlineHover:hover {
  border-bottom: 1px solid var(--text);
}

.eventsCont {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 6rem 4rem;
}

.eventsArea {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.contText {
  position: absolute;
  top: 0;
  left: 0;
  // outline the text, make it transparent fill
  -webkit-text-stroke: 1px var(--text);
  color: transparent;
  font-size: 10rem;
  opacity: 0.05;
  font-size: 128px !important;
}

@media (max-width: 768px) {
  .eventsArea {
    padding: 0 1rem;
  }

  .eventsCont {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 0;
  }

  .eventsArea {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
  }

  .contText {
    position: relative;
    top: 0;
    left: 0;
    // outline the text, make it transparent fill
    -webkit-text-stroke: transparent;
    color: var(--text);
    font-size: 10rem;
    opacity: 1;
    font-size: 24px !important;
  }
}