.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 400px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 30%;
  border-right: 1px solid var(--foreground);
  user-select: none;
}

.sidebarItemInner {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 100%;
  border-bottom: 1px solid var(--text);
  transition: width 0.25s ease-in-out;
}

.sidebarItemInnerSide {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0%;
  border-right: 1px solid var(--text);
  transition: height 0.25s ease-in-out;
}

.sidebarItem {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.25rem;
  border-bottom: 1px solid var(--foreground);
  border-right: 1px solid transparent;
  cursor: pointer;
}

.sidebarItemSelected {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.25rem;
  border-bottom: 1px solid var(--text);
  border-right: 1px solid var(--text);
  cursor: pointer;
}

.sidebarItemSelected > span {
  color: var(--text) !important;
}

.sidebarItem > span {
  transition: color 0.25s ease-in-out;
}

.sidebarItem:hover .sidebarItemInner {
  width: 100%;
}

.sidebarItem:hover .sidebarItemInnerSide {
  height: 100%;
}

.sidebarItem:hover > span {
  color: var(--text) !important;
}

.content {
  flex: 70%;
  text-align: justify;
  padding: 2rem;
    letter-spacing: -1px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    height: auto;
  }



  .sidebarItem:hover .sidebarItemInner {
    width: 100%;
  }

  .sidebarItem:hover .sidebarItemInnerSide {
    height: 0%;
  }

  .sidebarItemSelected {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.25rem;
    border-bottom: 1px solid var(--text);
    border-right: 1px solid transparent;
    cursor: pointer;
  }
  
}