.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.header {
  word-spacing: 3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headline {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -4.8px;
}

.headlineChar {
  opacity: 0;
  background-color: transparent;
  -webkit-animation: transitionIn 0.15s step-end forwards;
  animation: transitionIn 0.15s step-end forwards;
}

@keyframes transitionIn {
  // the text will have an opacity of 0 at the start of the animation
  0% {
    background-color: var(--text);
    opacity: 1;
  }
  90% {
    background-color: transparent;
  }
  // the text will have an opacity of 1 at the end of the animation
  100% {
    opacity: 1;
  }
}

.underlineHover {
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.15s;
}

.underlineHover:hover {
  border-bottom: 1px solid var(--text);
}

.profileLogoSection {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.profileLogo {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 1px solid var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scannerBox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;

  * > svg {
    border: none !important;

    path {
      stroke-width: 1px;
      stroke: var(--foreground);
    }
  }
}

.profileContainer {
  display: flex;
  flex-direction: row;
  // padding: 2rem;
  margin-top: 2rem;
}


@media (min-width: 1440px) {
  .main {
    width: calc(1440px - 72px);
    margin: 0 auto;
  }
}


@media (max-width: 768px) {
  .headline, .subheader {
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .container {
    padding: 0 2rem;
  }

  .profileContainer {
    justify-content: center;
  }
}

@media (max-width: 900px) {
  .headlineChar, .headline {
    font-size: 5rem !important;
  }
}
