.tile {
  position: relative;
  width: 100%;
  height: 300px;
  background-color: var(--foreground);
  overflow: hidden;
  box-sizing: border-box;
  border: 1px solid var(--foreground);
  border-radius: 0.25rem;
}

.img {
  z-index: 0;
  object-fit: cover;
  top: 50%;
  object-position: center 80%;
  filter: grayscale(100%) blur(1px) brightness(0.5);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.imgAlt {
  z-index: 0;
  object-fit: cover;
  top: 50%;
  object-position: center 30%;
  animation: fadeIn 0.15s forwards;
}

.gradient {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(10, 10, 10, 1) 0%, rgba(10, 10, 10, 0.8) 20%, rgba(0, 0, 0, 0) 100%);
}

.details {
  position: absolute;
  z-index: 4;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  align-items: flex-end;
  padding: 1rem;
  gap: 0.25rem;
}

.avatar {
  width: 100%;
  height: 100%;
  fill: var(--text-light);
}

.desktopImg {
  display: block;
}

.mobileImg {
  display: none;
}

@media (max-width: 768px) {
  .desktopImg {
    display: none;
  }

  .mobileImg {
    display: block;
  }
}