.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.subheader {
  user-select: none;
}

.header {
  word-spacing: 3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  user-select: none;
}

.headline {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: -4.8px;
  user-select: none;
}

.headlineChar {
  opacity: 0;
  animation: transitionIn 0.15s step-end forwards;
}

@keyframes transitionIn {

  // the text will have an opacity of 0 at the start of the animation
  0% {
    background-color: var(--text);
    opacity: 1;
  }

  90% {
    background-color: transparent;
  }

  // the text will have an opacity of 1 at the end of the animation
  100% {
    opacity: 1;
  }
}

// Code

.jobsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 0rem;
}

.jobsSectionListings {
  display: flex;
  flex-direction: row;
  width: 100%;
  // split into two columns 50/50
  justify-content: space-between;
}

.jobsSectionListingsLeft {
  width: 50%;
  height: 1000px;
  background-color: blue;
}

.jobItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 1rem;
}

.jobsSectionListingsRight {
  width: 50%;
  background-color: red;
}

// Code End

@media (min-width: 1440px) {
  .main {
    width: calc(1440px - 72px);
    margin: 0 auto;
  }
}


@media (max-width: 768px) {
  .headline,
  .subheader {
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .jobsSectionListings {
    flex-direction: column;
    width: 100%;
    // split into two columns 50/50
    justify-content: space-between;
  }

  .jobsSectionListingsLeft {
    width: 100%;
  }

  .jobsSectionListingsRight {
    width: 100%;
  }
}

